.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chat_messages {
    flex: 1;
    overflow: auto;
}

.chat_input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border-radius: 8px;
    margin: 13px;
    border-top: 1px solid gray;
    background-color: #474b53;
}

.chat_input > form > input{
    padding: 10px;
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    font-size: large;
    width: 100%;
}

.chat_input > form {
    flex: 1;
}

.chat_inputButton {
    display: none;
}

.chat_sendButton > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
}

.chat_sendButton > .MuiSvgIcon-root:hover {
    color: white;
}